
camelot==12.6.29
    # via -r ./requirements.in
chardet==5.1.0
    # via camelot
docx==0.2.4
   
elixir==0.7.1
    # via camelot
jinja2==3.1.2
    # via
    #   altair
    #   camelot
    #   pydeck
jsonschema==4.18.4
    # via altair
jsonschema-specifications==2023.7.1
    # via jsonschema
lxml==4.9.3
    # via docx
pillow==9.5.0
    # via
    #   docx
    #   streamlit
pypdf2==3.0.1
    # via -r ./requirements.in